.container__product-details-container {
    position: absolute;
    background-color: white;
    width: 90vh;
    height: 74vh;
    border: 1px solid black;
    top: 112vh;
    left: 50%;
    margin-left: -45vh;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    z-index: 3;
    min-width: 300px;
    min-height: 246px;
}

.product-details-container__container-relative {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.product-details-container__img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 90%;
    border: 2px solid grey;
}

.product-details-container__list {
    list-style: none;
    font-size: 1.1rem;
}

.product-details-container__hide-button,
.product-details-container__add-to-cart-button {
    position: absolute;
    color: grey;
    border: 2px solid grey;
    transition: .3s ease-out;
    -webkit-transition: .3s;
    font-weight: bold;
    background: -webkit-linear-gradient(to right,grey 50%,white 50%);
    background: -moz-linear-gradient(to right,grey 50%,white 50%);
    background: -o-linear-gradient(to right,grey 50%,white 50%);
    background-size: 200% 100%;
    background-position: right;
}

.product-details-container__hide-button {
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.product-details-container__add-to-cart-button {
    width: auto;
    height: auto;
    padding: 5px 10px;
    right: 20px;
    bottom: 20px;
}


.container__product-details-container--shown {
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
}

@media not all and (pointer: coarse) and (hover: none) {
    .product-details-container__hide-button:hover,
    .product-details-container__add-to-cart-button:hover {
        background-position: left;
        color: white;
    }
}

@media (orientation: portrait) {
    .container__product-details-container {
        width: 90vw;
        height: 60vh;
        margin-left: -45vw;
    }
}