.product {
    min-width: 100px;
    width: 40vh;
    height: 75vh;
    max-width: 98%;
    border: 1px solid black;
    margin: 1.5vh 0 5vh 5vh;
    display: flex;
    display: -webkit-flex;
    display: -webkit-flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
}

.shown-product {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    opacity: 1;
}

.product-see-more-button {
    width: 100%;
    height: 15%;
    font-family: cursive;
    text-align: center;
    vertical-align: middle;
    line-height: 15%;
    color: grey;
    border: none;
    background: none;
    font-size: 4.5vh;
}

.product-price-holder {
    position: absolute; 
    top: .5rem;
    right: .5rem;
    font-family: cursive;
    color: white;
    z-index: 1;
}

.sale-holder {
    position: absolute;
    right: .5rem;
    top: 2rem;
    font-weight: bold;
    font-family: Comic Sans MS;
    width: auto;
    height: auto;
    color: red;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
}

.product-price-holder, .sale-holder {
    font-size: 3vh;
}

.product-image {
    width: 100%;
    height: 85%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.product-see-more-button, .product {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
}

@media not all and (pointer: coarse) and (hover: none) {
    .product-see-more-button:hover {
        font-size: 4.8vh;
        color: black;
    }
}