.container__nav {
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: white;
    border: 2px solid grey;
    z-index: 2;
    box-sizing: border-box;
    position: relative;
    min-width: 290px;
}

.nav__see-menu-button {
    z-index: 2;
    left: 5px;
    top: 105px;
    background-color: white;
    background: none;
    border: none;
    position: absolute;
    width: 5vw;
    font-size: 2.5rem;
}

.nav__logo {
    height: 85%;
    width: auto;
    width: 100px;
    height: auto;
    margin-left: 1%;
}

._nav__buttons-container {
    margin-right: 5%;
}

.nav__button {
    position: relative;
    border: none;
    background: none;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    color: grey;
    z-index: 3;
    background-color: white;
}

.nav__search-product-input {
    height: 40px;
    border: 1px solid grey;
    background: white;
    position: absolute;
    width: 210px;
    font-size: 16px;
    z-index: 2;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
}

.nav__search-product-input--shown {
    transform: translateX(-215px);
    -webkit-transform: translateX(-215px);
    -ms-transform: translateX(-215px);
}

.shown-search-product-input {
    transform: translateX(-215px);
    -webkit-transform: translateX(-215px);
    -ms-transform: translateX(-215px);
}

.container__nav, .nav__buttons-container, .nav__button {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.nav__button, .nav__search-product-input {
    transition: .5s;
    -webkit-transition: .5s;
}

@media not all and (pointer: coarse) and (hover: none) {
    .nav__button:hover {
        color: black;
    }
}

@media (max-width: 450px) {
    .nav__search-product-input--shown {
        transform: translateY(70px);
        -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
    }
}

@media (max-height: 420px) {
    .container__nav {
        height: 60px;
    }
    .nav__button {
        height: 50px;
    }
}